<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>     
        *{
            margin: 0;
            scroll-behavior: smooth;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Times New Roman', Times, serif;
        }
        footer{
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            color: white;
        }
        .item{
            text-decoration: none;
            color: white;
            margin: 8px;
            font-size: 22px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <footer>
        CONTACT US HERE::<a class="item" href="https://x.com/ChaudharyAnuj_2?t=E8xTJEOwHK_Br2nZW3XyGA&s=09">Twitter<a href="#" class="fa fa-twitter"></a></a></a> | <a class="item" href="https://instagram.com/_abhishekrawat135?igshid=OGQ5ZDc2ODk2ZA==">Instagram</a><a href="#" class="fa fa-instagram"></a>| <a class="item" href="https://www.linkedin.com/in/anuj-chaudhary-9317b626a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn<a href="#" class="fa fa-linkedin"></a></a>
    </footer>
</body>
</html>'