<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PAA Musics</title>
    <link rel="stylesheet" href="/css/request-style.css">
</head>
<body>
<div class="container">
    <h2>Write Your Request Here</h2>
    <form action="/request" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="number">Number:</label>
        <input type="number" id="number" name="number" required>
        <label for="rating">Rate our Website:</label>
        <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <label for="request">Give your Feedback/Request Here</label>
        <textarea type="text" placeholder="give your request here" id="request" name="request" row="1" required></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>