body {
    margin: 0;
    padding: 0;
    background-image: url('https://mcdn.wallpapersafari.com/medium/50/13/jF6QLc.jpg');
    background-size: 1000px;
    background-position: center;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #5c5454;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(247, 246, 246);
    margin-top: 50px;
}
h2 {
    text-align: center;
}
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}